In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import math
from scipy.stats import norm
from sklearn.datasets import load_wine

Problem Statement 1: 
In a survey conducted by a non-banking financial company, a sample of 200 customers yielded that x of them were highly satisfied with the timely disbursal of their loans.
Write a Python code to perform the following operations:

1.Read an integer input that specifies the number of highly satisfied customers

2.Calculate an approximate 90% confidence interval for the proportion of the loan customers who are highly satisfied with disbursal time
•Find out the Margin of Error using scipy.stats.norm.ppf
•Calculate and print the confidence interval values rounded up to five decimal places and separated by a space
Note:
•Margin of Error = Critical Value * Standard Error of Statistic
•Confidence Interval = Sample Statistic ± Margin of Error

In [3]:
# Input: Number of highly satisfied customers
x = int(input("Enter the number of highly satisfied customers: "))
n = 200  # Total number of customers

# Calculate sample proportion
p_hat = x / n

# Critical value for 90% confidence interval
z = stats.norm.ppf(0.95)

# Standard error
SE = math.sqrt(p_hat * (1 - p_hat) / n)

# Margin of error
ME = z * SE

# Confidence interval
lower = p_hat - ME
upper = p_hat + ME

# Print the results
print(f"{round(lower, 5)} {round(upper, 5)}")

Enter the number of highly satisfied customers:  172

0.81964 0.90036

Problem Statement 2: 
A radar unit is used to measure the speeds of cars on a motorway. 
The speeds are normally distributed with a mean of 75 km/hr and a standard deviation of 15 km/hr.
Write a Python code to perform the following operations:
1.Find the probability that a car picked at random is traveling at more than X km/hr
•Take the speed X as an input 
•Print the probability value rounded up to four decimal places
Hint:Use Normal Distribution.

In [16]:
from scipy.stats import norm

# Input: Speed X
X = float(input("Enter the speed (X in km/hr): "))
mean = 75  # Mean speed
std_dev = 15  # Standard deviation

# Calculate the probability of a car traveling faster than X
prob = 1 - norm.cdf(X, loc=mean, scale=std_dev)

# Print the result
print(f"{prob:.4f}")

Enter the speed (X in km/hr):  80

0.3694

Problem Statement 3: 
Write a Python program to load the “kerala.csv” data into a DataFrame and perform the following tasks: 
1.Explore the DataFrame using info() and describe() functions
2.June and July are the peak months of rainfall. Consider that if it rains more than 500mm, then chances of flood become more; create a Datarame with columns –“YEAR”,  “JUN_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of June) , “JUL_GT_500” (Contains a boolean value to show whether it rained more than 500 mm in the month of July), and “FLOODS” (Contains a boolean value to show whether it flooded that year)
3.Calculate the probability of flood given it rained more than 500 mm in June (P(A|B))
4.Calculate the probability of rain more than 500 mm in June, given it flooded that year (P(B|A))
5.Probability of flood given it rained more than 500 mm in July6.Probability of rain more than 500 mm in July given it flooded that year (P(B|A))

In [30]:
data = pd.read_csv("kerala1.csv")
data.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL RAINFALL,FLOODS
0,KERALA,1901,28.7,44.7,51.6,160.0,174.7,824.6,743.0,357.5,197.7,266.9,350.8,48.4,3248.6,YES
1,KERALA,1902,6.7,2.6,57.3,83.9,134.5,390.9,1205.0,315.8,491.6,358.4,158.3,121.5,3326.6,YES
2,KERALA,1903,3.2,18.6,3.1,83.6,249.7,558.6,1022.5,420.2,341.8,354.1,157.0,59.0,3271.2,YES
3,KERALA,1904,23.7,3.0,32.2,71.5,235.7,1098.2,725.5,351.8,222.7,328.1,33.9,3.3,3129.7,YES
4,KERALA,1905,1.2,22.3,9.4,105.9,263.3,850.2,520.5,293.6,217.2,383.5,74.4,0.2,2741.6,NO

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SUBDIVISION       118 non-null    object
 1   YEAR              118 non-null    int64
 2   JAN               118 non-null    float64
 3   FEB               118 non-null    float64
 4   MAR               118 non-null    float64
 5   APR               118 non-null    float64
 6   MAY               118 non-null    float64
 7   JUN               118 non-null    float64
 8   JUL               118 non-null    float64
 9   AUG               118 non-null    float64
 10  SEP               118 non-null    float64
 11  OCT               118 non-null    float64
 12  NOV               118 non-null    float64
 13  DEC               118 non-null    float64
 14   ANNUAL RAINFALL  118 non-null    float64
 15  FLOODS            118 non-null    object
dtypes: float64(13), int64(1), object(2)
memory usage: 14.9+ KB

In [34]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
YEAR,118.0,1959.500000,34.207699,1901.0,1930.250,1959.50,1988.750,2018.0
JAN,118.0,12.218644,15.473766,0.0,2.175,5.80,18.175,83.5
FEB,118.0,15.633898,16.406290,0.0,4.700,8.35,21.400,79.0
MAR,118.0,36.670339,30.063862,0.1,18.100,28.40,49.825,217.2
APR,118.0,110.330508,44.633452,13.1,74.350,110.40,136.450,238.0
MAY,118.0,228.644915,147.548778,53.4,125.050,184.60,264.875,738.8
JUN,118.0,651.617797,186.181363,196.8,535.550,625.60,786.975,1098.2
JUL,118.0,698.220339,228.988966,167.5,533.200,691.65,832.425,1526.5
AUG,118.0,430.369492,181.980463,178.6,316.725,386.25,500.100,1398.9
SEP,118.0,246.207627,121.901131,41.3,155.425,223.55,334.500,526.7
OCT,118.0,293.207627,93.705253,68.5,222.125,284.30,355.150,567.9
NOV,118.0,162.311017,83.200485,31.5,93.025,152.45,218.325,365.6
DEC,118.0,40.009322,36.676330,0.1,10.350,31.10,54.025,202.3
ANNUAL RAINFALL,118.0,2925.405085,452.169407,2068.8,2613.525,2934.30,3170.400,4473.0

In [36]:
data.isnull().sum()

SUBDIVISION         0
YEAR                0
JAN                 0
FEB                 0
MAR                 0
APR                 0
MAY                 0
JUN                 0
JUL                 0
AUG                 0
SEP                 0
OCT                 0
NOV                 0
DEC                 0
 ANNUAL RAINFALL    0
FLOODS              0
dtype: int64

In [44]:
# Create the required DataFrame
data['JUN_GT_500'] = data['JUN'] > 500
data['JUL_GT_500'] = data['JUL'] > 500
data['FLOODS'] = data[' ANNUAL RAINFALL'] > 2000  # Assuming a flood occurs if annual rainfall exceeds 2000 mm

df = data[['YEAR', 'JUN_GT_500', 'JUL_GT_500', 'FLOODS']]
print(df.head())

# Probabilities
# P(A|B): Probability of flood given it rained more than 500 mm in June
p_flood_given_june = len(df[(df['FLOODS'] == True) & (df['JUN_GT_500'] == True)]) / len(df[df['JUN_GT_500'] == True])

# P(B|A): Probability of rain more than 500 mm in June given it flooded
p_june_given_flood = len(df[(df['FLOODS'] == True) & (df['JUN_GT_500'] == True)]) / len(df[df['FLOODS'] == True])

# P(A|B): Probability of flood given it rained more than 500 mm in July
p_flood_given_july = len(df[(df['FLOODS'] == True) & (df['JUL_GT_500'] == True)]) / len(df[df['JUL_GT_500'] == True])

# P(B|A): Probability of rain more than 500 mm in July given it flooded
p_july_given_flood = len(df[(df['FLOODS'] == True) & (df['JUL_GT_500'] == True)]) / len(df[df['FLOODS'] == True])

# Print results
print(f"Probability of flood given it rained more than 500 mm in June: {p_flood_given_june:.4f}")
print(f"Probability of rain more than 500 mm in June given it flooded: {p_june_given_flood:.4f}")
print(f"Probability of flood given it rained more than 500 mm in July: {p_flood_given_july:.4f}")
print(f"Probability of rain more than 500 mm in July given it flooded: {p_july_given_flood:.4f}")

   YEAR  JUN_GT_500  JUL_GT_500  FLOODS
0  1901        True        True    True
1  1902       False        True    True
2  1903        True        True    True
3  1904        True        True    True
4  1905        True        True    True
Probability of flood given it rained more than 500 mm in June: 1.0000
Probability of rain more than 500 mm in June given it flooded: 0.7881
Probability of flood given it rained more than 500 mm in July: 1.0000
Probability of rain more than 500 mm in July given it flooded: 0.8136

Problem Statement 4: 
Write a Python program to load the wine dataset using the Sklearn library to a DataFrame and perform the following tasks:1.Convert the dataset into DataFrame using pandas.
2.Generate the sample size of 50 and give a random state as 100.
3.Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol at 95% significance interval on generated sample data.Sample Input:Sample Output:

In [4]:
wine_data = load_wine()
df = pd.DataFrame(wine_data.data, columns=wine_data.feature_names)

In [9]:
wine_data

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 178\n:Number of Attributes: 13 numeric, predictive attributes and the class\n:Attribute Information:\n    - Alcohol\n    - Malic acid\n    - Ash\n    - Alcalinity of ash\n    - Magnesium\n    - Total phenols\n    - Flavanoids\n    - Nonflavanoid phenols\n    - Proanthocyanins\n    - Color intensity\n    - Hue\n    - OD280/OD315 of diluted wines\n    - Proline\n    - class:\n        - class_0\n        - class_1\n        - class_2\n\n:Summary Statistics:\n\n============================= ==== ===== ======= =====\n                                Min   Max   Mean     SD\n============================= ==== ===== ======= =====\nAlcohol:                      11.0  14.8    13.0   0.8\nMalic Acid:                   0.74  5.80    2.34  1.12\nAsh:                          1.36  3.23    2.36  0.27\nAlcalinity of Ash:            10.6  30.0    19.5   3.3\nMagnesium:                    70.0 162.0    99.7  14.3\nTotal Phenols:                0.98  3.88    2.29  0.63\nFlavanoids:                   0.34  5.08    2.03  1.00\nNonflavanoid Phenols:         0.13  0.66    0.36  0.12\nProanthocyanins:              0.41  3.58    1.59  0.57\nColour Intensity:              1.3  13.0     5.1   2.3\nHue:                          0.48  1.71    0.96  0.23\nOD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\nProline:                       278  1680     746   315\n============================= ==== ===== ======= =====\n\n:Missing Attribute Values: None\n:Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners:\n\nForina, M. et al, PARVUS -\nAn Extendible Package for Data Exploration, Classification and Correlation.\nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science.\n\n|details-start|\n**References**\n|details-split|\n\n(1) S. Aeberhard, D. Coomans and O. de Vel,\nComparison of Classifiers in High Dimensional Settings,\nTech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of\nMathematics and Statistics, James Cook University of North Queensland.\n(Also submitted to Technometrics).\n\nThe data was used with many others for comparing various\nclassifiers. The classes are separable, though only RDA\nhas achieved 100% correct classification.\n(RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))\n(All results using the leave-one-out technique)\n\n(2) S. Aeberhard, D. Coomans and O. de Vel,\n"THE CLASSIFICATION PERFORMANCE OF RDA"\nTech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of\nMathematics and Statistics, James Cook University of North Queensland.\n(Also submitted to Journal of Chemometrics).\n\n|details-end|\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [11]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [13]:
# Generate a sample of size 50 with random state 100
sample = df.sample(n=50, random_state=100)

# Calculate Z-critical, Margin of Error, and Confidence Interval for alcohol
alpha = 0.05
z_critical = stats.norm.ppf(1 - alpha/2)  # Z-critical for 95% confidence interval
sample_mean = sample['alcohol'].mean()
sample_std = sample['alcohol'].std()
n = len(sample)

# Standard error
SE = sample_std / math.sqrt(n)

# Margin of error
ME = z_critical * SE

# Confidence interval
lower = sample_mean - ME
upper = sample_mean + ME

# Print results
print(f"Z-critical value: {z_critical:.4f}")
print(f"Margin of Error: {ME:.4f}")
print(f"Confidence Interval: ({lower:.4f}, {upper:.4f})")

Z-critical value: 1.9600
Margin of Error: 0.2131
Confidence Interval: (12.7605, 13.1867)